/* Static View */
#featured-services .text-center,
#featured-services .grid {
  transition: transform 1s ease, opacity 1s ease;
}

/* Animated View */
#featured-services .text-center.translate-y-0,
#featured-services .grid.translate-y-0 {
  transform: translateY(0);
  opacity: 1;
}

.wavy-text {
  display: inline-block;
  animation: wave-animation 2s infinite ease-in-out;
}

@keyframes wave-animation {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(1deg); }
  50% { transform: rotate(-1deg); }
  75% { transform: rotate(1deg); }
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-marquee {
  animation: marquee 30s linear infinite;
}
body {
  overflow-x: hidden;
}

